<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Login </title>
</head>
<body>
    <form action="http://127.0.0.1:5000/admin_dashboard" method="POST">
        <input type="text" id="admin-login" class="fadeIn second" name="admin-email" placeholder="email">
        <input type="password" id="admin-password" class="fadeIn third" name="admin-password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
</body>
</html> -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <title>Admin_login</title>
</head>
<body>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{url_for('static',filename='images/undraw_remotely_2j6y.svg')}}" alt="Image"
                     class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
<h1>SSERS |</h1>
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign In</h3>
                            <p class="mb-4">Sign in to admin dashboard!</p>
                        </div>
                        <form action="http://127.0.0.1:5000/admin_dashboard" method="POST">
                            <div class="form-group first">
                                <label for="username">Username</label>

                                <input type="text" id="admin-login" class="form-control" name="admin-email">
                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Password</label>

                                <input type="password" id="admin-password" class="form-control" name="admin-password">
                                <!-- <input type="password" class="" id="password"> -->

                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                                    <input type="checkbox"/>
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                            </div>

                            <!-- <input type="submit" value="Log In" class="btn btn-block btn-primary"> -->

                            <input type="submit" class="btn btn-block btn-primary" value="Log In">


                            <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                </a>
                                <a href="#" class="google">
                                    <span class="icon"><i class="fa fa-google" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>

<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>