<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
<div class="main">
    Welcome User!
    <h1 class="name">Hi, {{name}}</h1>
    <hr style="width: 30%">
    <h3 class="email">{{email}}</h3>
    <form method="POST" action="{{url_for('main')}}">
        Button is disabled because the user mode is currently on construction.
        <button disabled>Click Here!</button>
    </form>
</div>
</body>
</html>